.git
.gitignore

__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

frontend/node_modules/
frontend/dist/

backend-fastapi/.venv/
backend-fastapi/__pycache__/
backend-fastapi/*.db
backend-fastapi/*.sqlite
backend-fastapi/*.sqlite3

backend/__pycache__/

project_docs/
queries/
